src/*.exe
src/datacoin
src/datacoind
src/test_datacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.datacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
datacoin-qt
Datacoin-Qt.app

# Unit-tests
Makefile.test
datacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
